SQL-and-Database-Course/Notes/day-one.sql linguist-language=SQL
SQL-and-Database-Course/Notes/my-first-table.sql linguist-language=SQL
SQL-and-Database-Course/Notes/update-and-delete.sql linguist-language=SQL
